/* body {
    background-image: url("../images/keyboard.png.jpg");
    background-repeat: no-repeat;
} */

body {
    /* The image used */
    background-image: url("../images/keyboard.png");
    /* Full height */
    height: 600px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}